connect:
  image: confluentinc/cp-kafka-connect:8.1.0
  container_name: kafka-connect
  ports:
    - "8083:8083" # REST API for connectors
  environment:
    CONNECT_BOOTSTRAP_SERVERS: "kafka:9092"
    CONNECT_REST_PORT: 8083
    CONNECT_GROUP_ID: "snowflake-connect-group"
    CONNECT_CONFIG_STORAGE_TOPIC: "connect-configs"
    CONNECT_OFFSET_STORAGE_TOPIC: "connect-offsets"
    CONNECT_STATUS_STORAGE_TOPIC: "connect-status"
    CONNECT_KEY_CONVERTER: "org.apache.kafka.connect.json.JsonConverter"
    CONNECT_VALUE_CONVERTER: "org.apache.kafka.connect.json.JsonConverter"
    CONNECT_KEY_CONVERTER_SCHEMAS_ENABLE: "false"
    CONNECT_VALUE_CONVERTER_SCHEMAS_ENABLE: "false"
    CONNECT_PLUGIN_PATH: "/usr/share/java,/etc/kafka-connect/jars"
